.DS_Store

.venv
.venv311
.venv-dbt

.ipynb_checkpoints

# data
data
*.parquet
*.csv

.env
*.env

.env_encoded
*.env_encoded
.recovery_code

*.pdf

.vscode

gcs.json

.dlt

*.duckdb
*.db

logs

archive

.bruin.yml

logs/runs

logs/*.log

__pycache__/

*.py[cod]

logs/queries